h1 {
  color: red;
  text-align: center;
}

h2 {
  color: #123aaa;
  text-align: center;
}

p {
  font-family: sans-serif;
}
ul {
  font-size: 20px;
  line-height: 30px;
  font-family: fantasy;
}
li {
  color: green;
}
